//Variables


// NAVIGATION BAR_SECTION
.nav-media{
    width: 5%;
}


//HERO_SECTION
.hero{
    background-image: url(/images/Character.jpg);
    filter: grayscale(80%);
    background-size:cover ;
    background-position: center ;
    background-repeat:no-repeat ;
    height: 80vh;
    width: 100%;
}

//ABOUT_ME_SECTION
.display-6 {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  }
  

  //SKILLS_SECTION
  h4.text-center {
    text-decoration: underline;
    text-underline-offset: 15px;  
  }

  .progress-bar{
    span{
        background-color: gray;
        text-align: start;
    }
  }
  

  //Grid-Section
.portfolio{
    padding: 4%;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    font-size: 110%;

  .cards{
    display: grid; 
    grid-template-columns: 20em 20em 20em;
    grid-template-rows:15em 15em; 
    justify-content: center;
    column-gap: 40px;
    row-gap: 60px;
    
    .card{
        color: white;
        width: 20em;
        height: 15em;
        justify-content: center;
        align-items: center;
        box-shadow: 0 3px 10px rgb(206, 206, 206);

        &.first-row{
            text-decoration: underline;
            text-underline-offset: 15px; 
        }

        &.col-one{
            background-color: rgb(149, 145, 136, 255);
        }
        &.col-two{
            background-color: rgba(64,64,64,255);
        }
    }
  
  }

}